In [2]:
import pandas as pd
import os

Deliverables:
- A high-level snapshot of the district's key metrics, presented in a table format
- An overview of the key metrics for each school, presented in a table format
- Tables presenting each of the following metrics:
    - Top 5 and bottom 5 performing schools, based on the overall passing rate
    - The average math score received by students in each grade level at each school
    - The average reading score received by students in each grade level at each school
    - School performance based on the budget per student
    - School performance based on the school size 
    - School performance based on the type of school

In [3]:
# Files to load

school_data_load = os.path.join("Resources", "schools_complete.csv")
student_data_load = os.path.join("Resources", "students_complete.csv")

In [4]:
#Make dFs

schools_df = pd.read_csv(school_data_load)
#schools_df

students_df = pd.read_csv(student_data_load)
#students_df

In [5]:
#Check for missing values in school data

schools_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [6]:
#Check for missing values in student data

#students_df.count()
#students_df.isnull().sum()
students_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:
schools_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [8]:
students_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [9]:
#fixing names

prefix_suffix = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

for word in prefix_suffix:
    students_df.student_name = students_df.student_name.str.replace(word,"")
    
students_df.head()

C:\Users\ryang\anaconda3\envs\PyhtonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [12]:
#create a merged dataframe to work from

school_data_complete_df = pd.merge(students_df, schools_df, on = ["school_name","school_name"])

school_data_complete_df.head()

#print(len(school_data_complete_df))

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [14]:
#getting number of students
student_count = school_data_complete_df.student_name.count()

student_count

39170

In [17]:
#getting number of schools
school_count = len(school_data_complete_df.school_name.unique())

school_count

15

In [18]:
#getting total district budget

total_budget = schools_df["budget"].sum()

total_budget

24649428

In [19]:
#district-wide score averages

avg_math_score = school_data_complete_df.math_score.mean()

print(avg_math_score)

avg_reading_score = school_data_complete_df.reading_score.mean()

print(avg_reading_score)

78.98537145774827
81.87784018381414

In [22]:
#district wide math passing percentage and district wide reading passing percentages

#num passing
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]

passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

pass_math_count = passing_math["student_name"].count()
pass_reading_count = passing_reading["student_name"].count()

print(pass_math_count)
print(pass_reading_count)

#calc percentage
pass_math_percentage = pass_math_count/float(student_count)*100
pass_reading_percentage = pass_reading_count/float(student_count)*100


print(pass_math_percentage)
print(pass_reading_percentage)

29370
33610
74.9808526933878
85.80546336482001

In [27]:
#district wide math AND reading passing percentages

#num passing
pass_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) &(school_data_complete_df["reading_score"] >= 70) ]

pass_math_reading_count = pass_math_reading["student_name"].count()

print(pass_math_reading_count)

#percentage
pass_math_reading_percentage = pass_math_reading_count/float(student_count)*100
print(pass_math_reading_percentage)

25528
65.17232575950983

In [50]:
# create district summary data frame

district_summary_df = pd.DataFrame(
    [{"Total  Schools": school_count,
     "Total Students": student_count,
     "Total Budget": total_budget,
     "Average Math Score": avg_math_score,
     "Average Reading Score": avg_reading_score,
     "% Passing Math": pass_math_percentage,
     "% Passing Reading": pass_reading_percentage,
     "% Overall Passing": pass_math_reading_percentage}])

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [51]:
#format the table to look better


district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [52]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65