In [13]:
import pandas as pd
import os

In [14]:
# Files to load

school_data_load = os.path.join("Resources", "schools_complete.csv")
student_data_load = os.path.join("Resources", "students_complete.csv")

In [15]:
#Make dFs

schools_df = pd.read_csv(school_data_load)
#schools_df

students_df = pd.read_csv(student_data_load)
#students_df

In [16]:
#Check for missing values in school data

schools_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [17]:
#Check for missing values in student data

#students_df.count()
#students_df.isnull().sum()
students_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [18]:
schools_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [19]:
students_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [27]:
#fixing names

prefix_suffix = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

for word in prefix_suffix:
    students_df.student_name = students_df.student_name.str.replace(word,"")
    
students_df.head()

C:\Users\ryang\anaconda3\envs\PyhtonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84