In [105]:
import pandas as pd
import os

Deliverables:
- A high-level snapshot of the district's key metrics, presented in a table format
- An overview of the key metrics for each school, presented in a table format
- Tables presenting each of the following metrics:
    - Top 5 and bottom 5 performing schools, based on the overall passing rate
    - The average math score received by students in each grade level at each school
    - The average reading score received by students in each grade level at each school
    - School performance based on the budget per student
    - School performance based on the school size 
    - School performance based on the type of school

## District-Level Stats

In [106]:
# Files to load

school_data_load = os.path.join("Resources", "schools_complete.csv")
student_data_load = os.path.join("Resources", "students_complete.csv")

In [107]:
#Make dFs

schools_df = pd.read_csv(school_data_load)
#schools_df

students_df = pd.read_csv(student_data_load)
#students_df

In [108]:
#Check for missing values in school data

schools_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [109]:
#Check for missing values in student data

#students_df.count()
#students_df.isnull().sum()
students_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [110]:
schools_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [111]:
students_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [112]:
#fixing names

prefix_suffix = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

for word in prefix_suffix:
    students_df.student_name = students_df.student_name.str.replace(word,"")
    
students_df.head()

C:\Users\ryang\anaconda3\envs\PyhtonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [113]:
#create a merged dataframe to work from

school_data_complete_df = pd.merge(students_df, schools_df, on = ["school_name","school_name"])

school_data_complete_df.head()

#print(len(school_data_complete_df))

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [114]:
#getting number of students
student_count = school_data_complete_df.student_name.count()

student_count

39170

In [115]:
#getting number of schools
school_count = len(school_data_complete_df.school_name.unique())

school_count

15

In [116]:
#getting total district budget

total_budget = schools_df["budget"].sum()

total_budget

24649428

In [117]:
#district-wide score averages

avg_math_score = school_data_complete_df.math_score.mean()

print(avg_math_score)

avg_reading_score = school_data_complete_df.reading_score.mean()

print(avg_reading_score)

78.98537145774827
81.87784018381414

In [118]:
#district wide math passing percentage and district wide reading passing percentages

#num passing
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]

passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

pass_math_count = passing_math["student_name"].count()
pass_reading_count = passing_reading["student_name"].count()

print(pass_math_count)
print(pass_reading_count)

#calc percentage
pass_math_percentage = pass_math_count/float(student_count)*100
pass_reading_percentage = pass_reading_count/float(student_count)*100


print(pass_math_percentage)
print(pass_reading_percentage)

29370
33610
74.9808526933878
85.80546336482001

In [119]:
#district wide math AND reading passing percentages

#num passing
pass_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) &(school_data_complete_df["reading_score"] >= 70) ]

pass_math_reading_count = pass_math_reading["student_name"].count()

print(pass_math_reading_count)

#percentage
pass_math_reading_percentage = pass_math_reading_count/float(student_count)*100
print(pass_math_reading_percentage)

25528
65.17232575950983

In [120]:
# create district summary data frame

district_summary_df = pd.DataFrame(
    [{"Total  Schools": school_count,
     "Total Students": student_count,
     "Total Budget": total_budget,
     "Average Math Score": avg_math_score,
     "Average Reading Score": avg_reading_score,
     "% Passing Math": pass_math_percentage,
     "% Passing Reading": pass_reading_percentage,
     "% Overall Passing": pass_math_reading_percentage}])

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [121]:
#format the table to look better


district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [122]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

## School-Level Stats

In [123]:
#make new dF with school name as the index

per_school_types_df = pd.DataFrame(schools_df.set_index(["school_name"])["type"])

per_school_types_df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [124]:
#get the student count per school

#method 1
#per_school_counts = schools_df.set_index(["school_name"])["size"]

#method 2
per_school_counts = school_data_complete_df["school_name"].value_counts()

per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [125]:
#get the budget-per-student for each school

#get the total budget per school
per_school_budget = schools_df.set_index(["school_name"])["budget"]

per_school_budget

#per student spending

per_school_capita = per_school_budget / per_school_counts

per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [126]:
#get per school average math and reading scores

per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

per_school_math

per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [127]:
#indiv math and reading passing percentages by school

#math
per_school_passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_math = per_school_passing_math / per_school_counts * 100

#per_school_passing_math

#reading
per_school_passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

#per_school_passing_reading

In [128]:
#overall passing percentages by school

per_school_pass_all = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
per_school_pass_all = per_school_pass_all.groupby(["school_name"]).count()["student_name"]
per_school_pass_all = per_school_pass_all / per_school_counts * 100

per_school_pass_all

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [129]:
#making the school summary data frame

per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_school_pass_all})

per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [130]:
#format the summary df

per_school_summary_df["Total Students"] = per_school_summary_df["Total Students"].map("{:,}".format)
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
per_school_summary_df["Average Math Score"] = per_school_summary_df["Average Math Score"].map("{:.1f}".format)
per_school_summary_df["Average Reading Score"] = per_school_summary_df["Average Reading Score"].map("{:.1f}".format)
per_school_summary_df["% Passing Math"] = per_school_summary_df["% Passing Math"].map("{:.1f}".format)
per_school_summary_df["% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:.1f}".format)
per_school_summary_df["% Overall Passing"] = per_school_summary_df["% Overall Passing"].map("{:.1f}".format)

In [131]:
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.0,81.0,66.7,81.9,54.6
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.1,84.0,94.1,97.0,91.3
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.7,81.2,66.0,80.7,53.2
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.1,80.7,68.3,79.3,54.3
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.4,83.8,93.4,97.1,90.6
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.3,80.9,66.8,80.9,53.5
Holden High School,Charter,427,"$248,087.00",$581.00,83.8,83.8,92.5,96.3,89.2
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.6,81.2,65.7,81.3,53.5
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.1,81.0,66.1,81.2,53.5
Pena High School,Charter,962,"$585,858.00",$609.00,83.8,84.0,94.6,95.9,90.5
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.8,80.7,66.4,80.2,53.0
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.4,83.7,93.9,95.9,89.9
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.4,83.8,93.3,97.3,90.9
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.3,84.0,93.9,96.5,90.6
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.7,84.0,93.3,96.6,90.3

In [132]:
#sorting and finding top 5 schools

top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending = False)

top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.1,84.0,94.1,97.0,91.3
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.4,83.8,93.3,97.3,90.9
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.4,83.8,93.4,97.1,90.6
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.3,84.0,93.9,96.5,90.6
Pena High School,Charter,962,"$585,858.00",$609.00,83.8,84.0,94.6,95.9,90.5

In [133]:
#sorting and finding bottom 5 schools

bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending = True)

bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.8,80.7,66.4,80.2,53.0
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.7,81.2,66.0,80.7,53.2
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.3,80.9,66.8,80.9,53.5
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.6,81.2,65.7,81.3,53.5
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.1,81.0,66.1,81.2,53.5

## Grade-Level Stats

In [134]:
# making individual grade-level dFs

ninth_graders = school_data_complete_df[school_data_complete_df["grade"] == "9th"]
tenth_graders = school_data_complete_df[school_data_complete_df["grade"] == "10th"]
eleventh_graders = school_data_complete_df[school_data_complete_df["grade"] == "11th"]
twelfth_graders = school_data_complete_df[school_data_complete_df["grade"] == "12th"]

ninth_graders.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635

In [135]:
# getting average math scores

ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

#eleventh_grade_math_scores

In [136]:
#getting average reading scores

ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [137]:
#making math grade avg summary table

math_scores_by_grade = pd.DataFrame({
    "9th":ninth_grade_math_scores,
    "10th":tenth_grade_math_scores,
    "11th":eleventh_grade_math_scores,
    "12th":twelfth_grade_math_scores
})

#formatting number columns
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)
math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)
math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)
math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

#dropping header title
math_scores_by_grade.index.name = None

In [138]:
#view math scores
math_scores_by_grade

                        9th  10th  11th  12th
Bailey High School     77.1  77.0  77.5  76.5
Cabrera High School    83.1  83.2  82.8  83.3
Figueroa High School   76.4  76.5  76.9  77.2
Ford High School       77.4  77.7  76.9  76.2
Griffin High School    82.0  84.2  83.8  83.4
Hernandez High School  77.4  77.3  77.1  77.2
Holden High School     83.8  83.4  85.0  82.9
Huang High School      77.0  75.9  76.4  77.2
Johnson High School    77.2  76.7  77.5  76.9
Pena High School       83.6  83.4  84.3  84.1
Rodriguez High School  76.9  76.6  76.4  77.7
Shelton High School    83.4  82.9  83.4  83.8
Thomas High School     83.6  83.1  83.5  83.5
Wilson High School     83.1  83.7  83.2  83.0
Wright High School     83.3  84.0  83.8  83.6

In [139]:
#making reading grade avg summary table

reading_scores_by_grade = pd.DataFrame({
    "9th":ninth_grade_reading_scores,
    "10th":tenth_grade_reading_scores,
    "11th":eleventh_grade_reading_scores,
    "12th":twelfth_grade_reading_scores
})

#formatting number columns
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:.1f}".format)
reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:.1f}".format)
reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:.1f}".format)
reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:.1f}".format)

#dropping header title
reading_scores_by_grade.index.name = None

In [140]:
#view reading table

reading_scores_by_grade

                        9th  10th  11th  12th
Bailey High School     81.3  80.9  80.9  80.9
Cabrera High School    83.7  84.3  83.8  84.3
Figueroa High School   81.2  81.4  80.6  81.4
Ford High School       80.6  81.3  80.4  80.7
Griffin High School    83.4  83.7  84.3  84.0
Hernandez High School  80.9  80.7  81.4  80.9
Holden High School     83.7  83.3  83.8  84.7
Huang High School      81.3  81.5  81.4  80.3
Johnson High School    81.3  80.8  80.6  81.2
Pena High School       83.8  83.6  84.3  84.6
Rodriguez High School  81.0  80.6  80.9  80.4
Shelton High School    84.1  83.4  84.4  82.8
Thomas High School     83.7  84.3  83.6  83.8
Wilson High School     83.9  84.0  83.8  84.3
Wright High School     83.8  83.8  84.2  84.1